.boton-clear {
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: #ac0246;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border: 2px solid wheat;
    border-radius: 35px;
    cursor: pointer;
    user-select: non;
}

.boton-clear:hover {
  background-color: #3a5356;
}